@model ContactViewModel
@{ 
    ViewBag.Title = "Contact Us";
}
<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="name">Username</label>
    <br />
    <input asp-for="name" />
    <br />
    <label asp-for="email">Email</label>
    <br /> 
    <input asp-for="email" name="email" />
    <br />
    <label asp-for="subject">Subject</label>
    <br />
    <input type="text" asp-for="subject"/>
    <br />
    <label>Message</label>
    <br />
    <textarea rows="4" name="message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>