@{
    ViewBag.Title = "CV Homepage";
}
    <div class="CVDetails">
        <img src="~/img/SkypePic.JPG" width="300px" height="300px" />
        <ul>
            <li>Name: Joshua Mangi Masumbuo</li>
            <br />
            <li>Email: joshuamangi@gmail.com</li>
            <br />
            <li>Gender: Male</li>
            <br />
            <li>Date of Birth: 21st January, 2017</li>
            <br />
        </ul>
    </div>
    <div class="CVForm">
        <label>Username</label>
        <br />
        <input />
        <br />
        <label>Password</label>
        <br />
        <input type="password" />
        <br />
        <input type="submit" />
    </div>